{
  "extends": ["airbnb", "prettier"],
  "globals": {},
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "import/named": "off",
    "import/extensions": "off",
    "no-console": [0, ""],
    "linebreak-style": "off"
  }
}
